<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>LogIn to track your favorite pitchers!</p>
    <section>
      <h3>Top MLB Pitchers</h3>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Team</th>
                <th>Throws</th>
                <th>ERA</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Birthdate (Age)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Max Scherzer</td>
                <td>Los Angeles Dodgers</td>
                <td>RHP</td>
                <td>2.28</td>
                <td>15</td>
                <td>5</td>
                <td>July 27, 1984 (38)</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Shane Bieber</td>
                <td>Cleveland Guardians</td>
                <td>RHP</td>
                <td>2.48</td>
                <td>14</td>
                <td>6</td>
                <td>May 31, 1995 (27)</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Corbin Burnes</td>
                <td>Milwaukee Brewers</td>
                <td>RHP</td>
                <td>2.43</td>
                <td>13</td>
                <td>5</td>
                <td>October 22, 1994 (28)</td>
            </tr>
           
        </tbody>
    </table>



    </section>
  </body>
</html>
