<%- include('../partials/header') %>

<form id="game-log-form" action="/pitchers/<%= pitcher._id %>" method="POST">
    <label>Date:</label>
    <input type="date" name="date" required>

    <label>Opponent:</label>
    <input type="text" name="opponent" required>

    <label>Outcome:</label>
    <select name="outcome" required>
      <option value="Win">Win</option>
      <option value="Loss">Loss</option>
      <option value="No Decision">No Decision</option>
    </select>

    <input type="submit" value="Add Game">
  </form>